/* * {
  border: solid red 1px;
} */
body {
  background-color: black;
  text-align: center;
  color: white;
}
table {
  width: 100%;
  height: auto;
  border-collapse: collapse;
}
th {
  font-size: 20px;
  color: tomato;
}
td,
th {
  border: 1px solid whitesmoke;
  padding: 10px;
}
tr:nth-child(even) {
  background-color: #4f4f4f;
}
tr:nth-child(odd) {
  background-color: #2d2d2d;
}
th {
  background-color: #363636;
}
tr:hover {
  background-color: black;
}
