form {
  margin-left: 30%;
  margin-right: 30%;
}
input {
  margin-left: 50px;
  padding: 5px;
}
input[type="url"] {
  margin-left: 0px;
}
label[for="url"] {
  margin-left: 50px;
}
select {
  font-size: 20px;
  margin-left: 50px;
  width: 150px;
}
หหห
{
  al
}

table tr:nth-child(3) {
  border-bottom: 1px solid black;
}

table {
  border-collapse: collapse;
}

/* * {
  border: solid red 1px;
} */
